/* ============================================
   GLOBAL STYLES INDEX
   Import all style files here
   ============================================ */

/* Ant Design Component Overrides */
@import './antdesign/modal.css';
@import './antdesign/input.css';
@import './antdesign/checkbox.css';
/* Add more component styles as needed:
@import './button.css';
@import './form.css';
@import './table.css';
*/
