@import "tailwindcss";

@theme {
  --color-dark-black: #1d1d1d;
  --color-dark-gray: #808080;
  --color-dark-medium-gray: #4b4f53;
  --color-dark-dark-gray: #2c2c2c;
  --color-dark-blue-gray-50: #2c333a;
  --color-dark-blue-gray-100: #1e2328;
  --color-dark-blue: #085fa5;
  --color-border-blue: #0073cf;
  --color-dark-gray-text: #494949;
  --color-gray-text: #5e646d;
  --color-green-low: #066d08;
  --color-yellow-medium: #d28b08;
  --color-red-high: "#D20708";
  --color-gray: #ededed;
}

body {
  color: white;
  background-color: #1e2328;
  overflow-y: hidden;
}

.my-button {
  background-color: none;
}

::-webkit-scrollbar {
  width: 3px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
