@import "tailwindcss";

@theme {
  --color-dark-dark-gray: #2c2c2c;
  --color-dark-blue-gray-50: #2c333a;
  --color-dark-blue-gray-100: #1e2328;
}

body {
  color: white;
  background-color: #1e2328;
}

.my-button {
  background-color: none;
}
